* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1f2937;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  & .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
  }
}
header ul {
  display: flex;
  list-style: none;
  gap: 16px;

  & li a {
    color: white;
    text-decoration: none;
    font-weight: 900;

    &:hover {
      transition: 0.2s;
      color: #adccff;
    }
  }
}

.primary-section {
  background-color: #1f2937;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;

  & .text {
    height: 300px;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .text-primary {
      color: white;
      font-size: 48px;
      font-weight: 900;
    }

    & .text-secundary {
      color: white;
      font-size: 16px;
    }

    & .sign-up {
      background-color: #3882f6;
      color: white;
      width: 100px;
      padding: 8px;
      border-radius: 8px;
      border: none;
      text-align: center;
      font-weight: 700;

        & a {
          text-decoration: none;
          color: white;
        }

      &:hover {
        transition: 0.2s;
        background-color: #adccff;
      }
    }
  }

  & .imagem img {
    height: 300px;
    width: 600px;
  }
}

.second-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;

  .text {
    color: #1f2937;
    text-align: center;
    padding: 48px;
    font-size: 36px;
    font-weight: 900;
  }

  .colors-cats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    & .cats {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 280px;
      height: 280px;

      & img {
        border-radius: 16px;
        border: 4px solid #3882f6;
        width: 200px;
        height: 200px;
        object-fit: cover;

        &:hover {
          border: 4px solid #adccff;
        }
      }

      & .title {
        font-weight: 700;
      }
      & .text-one {
        padding: 4px 26px 4px 26px;
      }
    }
  }
}

.third-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;

  & .sub-section {
    width: 1400px;
  }
  & .text-one {
    padding: 20px 120px 20px 120px;
    font-size: 36px;
    font-weight: 300;
  }

  & .text-two {
    font-weight: 900;
    text-align: end;
  }
}

.fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;

  & .sub-section {
    background-color: #3882f6;
    padding: 60px 60px 60px 60px;
    border-radius: 16px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }
    & .text-one {
      color: white;
      font-weight: 900;
    }

    & .text-two {
      color: white;
    }

    & .sign-up {
      background-color: #3882f6;
      color: white;
      width: 100px;
      padding: 4px;
      border-radius: 8px;
      border: 2px solid white;
      text-align: center;
      font-weight: 700;

        & a {
          text-decoration: none;
          color: white;
        }

      &:hover {
        transition: 0.2s;
        background-color: #adccff;

    }
  }
}

footer {
  background-color: #1f2937;
  height: 120px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}