* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1f2937;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 200px;

  & .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
  }
}
header ul {
  display: flex;
  list-style: none;
  gap: 16px;

  & li a {
    color: white;
    text-decoration: none;

    &:hover {
      transition: 0.2s;
      color: #adccff;
    }
  }
}

.primary-section {
  background-color: #1f2937;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;

  & .text {
    height: 300px;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .text-primary {
      color: white;
      font-size: 48px;
      font-weight: 900;
    }

    & .text-secundary {
      color: white;
      font-size: 16px;
    }

    & .sign-up {
      background-color: #3882f6;
      color: white;
      width: 100px;
      padding: 4px;
      border-radius: 8px;
      border: none;
      text-align: center;
      font-weight: 700;

      &:hover {
        transition: 0.2s;
        background-color: #adccff;
      }
    }
  }

  & .imagem img {
    height: 300px;
    width: 600px;
  }
}
